section{
    margin-top: 100px;
}
.hero {
    background-image: url('../assets/img/hero1.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 0 100px 0;
    margin: 0;
    nav{
        a{
            color: #8FBF21;
            font-family: 'Kanit', sans-serif;
            font-weight: 500;
        }
      
    }
  }
  
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 30px;
    color: #fff;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    text-align: left;
  }
  
  
  .hero p {
    font-size: 1.2rem;
    margin-bottom: 50px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    text-align: left;
  }
  


  .hero .btn-primary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    gap: 9px;

    width: 15vw;
    height: 6vh;

    background: #00215B;
    border-radius: 48px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .hero .btn-secondary {
   /* content */


/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 0px;
gap: 9px;

width: 15vw;
    height: 6vh;

background: #8FBF21;
border-radius: 82px;

/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
  }
 
  
  .hero .btn:hover {
    background-color: #fff;
    color: #000;
  }
  
  
  .our-work .col-md-6.col-lg-3 {
    padding: 0 10px;
  }
  
  .our-work img {
    border-radius: 10px;
  }
  
  .our-work .col-md-6.col-lg-3:first-child img {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .our-work .col-md-6.col-lg-3:last-child img {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .bg-img-1 {
    background-image: url('https://via.placeholder.com/500x500');
  }
  
  .bg-img-2 {
    background-image: url('https://via.placeholder.com/500x500');
  }
  
  .bg-img-3 {
    background-image: url('https://via.placeholder.com/500x500');
  }
  
  
  .full-screen-background {
   margin-top: 50px;
  height: 300px;
    background-image: url('https://via.placeholder.com/1920x300.png?text=imagen completa');
  }
  
  