
    <!-- Start Footer Area -->
    <footer class="footer-area row" style="background-color: #696969">
      <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12" style="background-color: #696969;">
                <div class="single-footer-widget pl-5">
                                <a href="/">
                                        <img src="../../assets/img/logo.png" alt="logo" />
                                </a>
                            </div>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-12" style="background-color: #9B9B9B">
                <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6">
                <h4>Links Rápidos</h4>
                <ul>
                  <li><a href="#">Link 1</a></li>
                  <li><a href="#">Link 2</a></li>
                  <li><a href="#">Link 3</a></li>
                  <li><a href="#">Link 4</a></li>
                  <li><a href="#">Link 5</a></li>
                </ul>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <h4>Soporte Cliente</h4>
                <ul>
                  <li><a href="#">Link 1</a></li>
                  <li><a href="#">Link 2</a></li>
                  <li><a href="#">Link 3</a></li>
                  <li><a href="#">Link 4</a></li>
                  <li><a href="#">Link 5</a></li>
                </ul>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <h4>Nuestro Blog</h4>
                <p>Texto 1</p>
                <p>Texto 2</p>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <!-- Espacio vacío -->
              </div>
            </div>
            
              </div>
            </div>              
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12" style="background-color: #8FBF21; text-align: center; margin-top: 50px; padding-top: 5px; padding-bottom: 5px;">
          <div class="copyright-area">
              <p style="color: #FFFFFF;"><b>ENTELEQQIA</b> &copy; TODOS LOS DERECHOS RESERVADOS 2022</p>
          </div>
      </div>
  </footer>
  <!--footer class="footer-area row" style="background-color: #696969">
      <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12">
                  <div class="single-footer-widget pl-5">
                  <a href="/">
                          <img src="../../assets/img/logo.png" alt="logo" />
                  </a>
              </div>
              <div class="single-footer-widget">
                      <h3>Contáctanos</h3>
                      
                      <ul class="footer-contact-info">
                          <li><a href="#">+56 2 2494 4562/ +56 9 9178 4234</a></li>
                      </ul>
                      <ul class="social-links">
                          <li><a href="#" class="facebook"><feather type="facebook"></feather></a></li>
                          <li><a href="#" class="twitter"><feather type="twitter"></feather></a></li>
                          <li><a href="#" class="instagram"><svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M19.3008 2.64453C19.0898 1.80078 18.4219 1.13281 17.6133 0.921875C16.1016 0.5 10.125 0.5 10.125 0.5C10.125 0.5 4.11328 0.5 2.60156 0.921875C1.79297 1.13281 1.125 1.80078 0.914062 2.64453C0.492188 4.12109 0.492188 7.28516 0.492188 7.28516C0.492188 7.28516 0.492188 10.4141 0.914062 11.9258C1.125 12.7695 1.79297 13.4023 2.60156 13.6133C4.11328 14 10.125 14 10.125 14C10.125 14 16.1016 14 17.6133 13.6133C18.4219 13.4023 19.0898 12.7695 19.3008 11.9258C19.7227 10.4141 19.7227 7.28516 19.7227 7.28516C19.7227 7.28516 19.7227 4.12109 19.3008 2.64453ZM8.15625 10.1328V4.4375L13.1484 7.28516L8.15625 10.1328Z" fill="#8FBF21"/>
</svg>
</a></li>
                          <li><a href="#" class="linkedin"><feather type="linkedin"></feather></a></li>
                      </ul>
                      <ul class="footer-contact-info">
                          <li>Av. Nueva Providencia 1945, of. 919, Providencia, Santiago. 7500945</li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-12">
                  <div class="row">
                      <div class="col-lg-3 col-md-3 col-sm-12">
                      <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12">
                      <h3>Información</h3>
                      <ul class="list">
                          <li><a href="#">Compa&ntilde;&iacute;a</a></li>
                          <li><a href="#">Productos</a></li>
                          <li><a href="#">Clientes</a></li>
                          <li><a href="#">Blog</a></li>
                          <li><a href="#">Contacto</a></li>
                      </ul>
                  </div>   
                  <div class="col-lg-3 col-md-3 col-sm-12">3</div>
                  <div class="col-lg-3 col-md-3 col-sm-12">4</div>
              </div>    
              </div>
          </div>
      </div-->
      <!-- <div class="go-top"><feather type="arrow-up"></feather></div> -->

      <!--back-to-top bottom="50px" right="50px">
          <div class="go-top"><feather type="arrow-up"></feather></div>
      </back-to-top>
  </footer-->
  <!-- End Footer Area -->
